{% extends 'news/base.html' %}
{% block desc %}{{ new.description }}{% endblock desc %}
{% block keywords %}{{ new.keywords }}{% endblock keywords %}
{% block title %} {{ new.title }} {% endblock title %}

{% block content %}

    <h1>{{ new.title }}</h1>
    <p>{{ new.text|safe }}</p>
    <hr>
    <p>Категория: {{ new.category }}</p>
    <p>теги: {% for tag in new.tegs.all %}
    {{ tag.title }},
    {% endfor %}
    </p>

    <p>Автор: {{ new.user }} - {{ new.created }}</p> <hr>
    <h2>Комментарии:</h2>
    {% for comment in comments %}
      <p>Пользователь: {{ comment.user }}</p>
      <p>{{ comment.text }}</p>
        <p>Добавлен: {{ comment.created }}</p>
        <br>
    {% endfor %}

{#     {% for comment in new.comments_set.all %}#}
{#      <p>Пользователь: {{ comment.user }}</p>#}
{#      <p>{{ comment.text }}</p>#}
{#        <p>Добавлен: {{ comment.created }}</p>#}
{#        <br>#}
{#    {% endfor %}#}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Отправить</button>
    </form>

{% endblock content %}

